.header__wrapper_main-page {
  border-radius: 40px 40px 0 0;
}

@media screen and (max-width: 1023px) {
  .header__wrapper_main-page {
    border-radius: 0 0 40px 40px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper_main-page {
    border-radius: 0 0 20px 20px;
  }
}