.press__block {
  margin-top: 21px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

@media screen and (max-width: 767px) {
  .press__block {
    margin-left: 0;
    margin-top: 16px;
    width: 83%;
  }
}