.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form__row:last-child {
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .form__row {
    flex-direction: column;
  }
}