.header__profile-icon {
  background: url(../../../images/icon__profile.svg) center;
  display: block;
  width: 33px;
  height: 33px;
}

@media screen and (max-width: 1023px) {
  .header__profile-icon {
    background: url(../../../images/icon__profile_white.svg) no-repeat center / cover;
  }
}
