.news__card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

@media screen and (max-width: 767px) {
  .news__card-container {
    flex-direction: column;
    margin-bottom: 0;
  }
}