.schedule__input_type_date {
  width: 201px;
  margin: 0 35px 0 22px;
  color: #687988;
  padding-right: 10px;
}

@media screen and (max-width: 1439px) {
  .schedule__input_type_date {
    width: 189px;
  }
}

@media screen and (max-width: 1023px) {
  .schedule__input_type_date {
    width: 100%;
    margin: 8px 0;
  }
}