.page {
  background-color: #F5F5F5;
  color: #000;
  font-family: Gilroy, Arial, sans-serif;
  box-sizing: border-box;
  position: relative;
  --wrapper-width: 1320px;
  --content-width: 874px;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 1439px) {
  .page {
    --wrapper-width: 970px;
    --content-width: 72%;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    --wrapper-width: 700px;
    --content-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    --wrapper-width: 92%;
    margin-top: 62px;
  }
}