.alert__txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #EE3523;
  margin: 0 0 35px;
}

.alert__txt:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .alert__txt {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
  }
}