.schedule__swap-btn {
  width: 44px;
  height: 44px;
  background: url(../../../images/icon__swap.svg) no-repeat center;
  margin: 0 5px 7px;
  -webkit-tap-highlight-color: transparent;
}

.schedule__swap-btn:hover {
  opacity: 1;
  rotate: 360deg;
}

@media screen and (max-width: 1023px) {
  .schedule__swap-btn {
    margin: 0;
  }
}
