.form__btn {
  height: 100%;
  width: 26%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .form__btn {
    font-size: 14px;
    line-height: 17px;
    width: 32%;
  }
}