.media__card_type_video::after {
  content: '';
  position: absolute;
  left: 42%;
  top: 25%;
  width: 64px;
  height: 64px;
  background: url(../../../../../images/icon__play-circle.svg) no-repeat center;
  pointer-events: none;
}
