.list__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0 0 5px;
}

@media screen and (max-width: 767px) {
  .list__item {
    font-size: 14px;
    line-height: 17px;
  }
}