.survey__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
  position: relative;
}

.survey__label::after,
.survey__label::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.survey__label::after {
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
  background-color: #fff;
  left: -33px;
}

.survey__label::before {
  width: 12px;
  height: 12px;
  background-color: #000;
  left: -30px;
  top: 3px;
  z-index: 2;
  transform: scale(2);
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
}