.schedule__checkbox-txt {
  margin: 2px 0 0 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #394A58;
  transition: all .4s ease;
}

@media screen and (max-width: 767px) {
  .schedule__checkbox-txt {
    font-size: 12px;
    line-height: 14px;
  }
}