.header__logo-container {
  display: flex;
  align-items: center;
  margin-left: 74px;
}

@media screen and (max-width: 1023px) {
  .header__logo-container {
    margin-left: 0;
    margin-bottom: 28px;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .header__logo-container {
    margin-bottom: 18px;
  }
}