.input {
  background: #FFFFFF;
  border: 2px solid #687988;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border: 2px solid #434f58;
}

@media screen and (max-width: 767px) {
  .input {
    padding-left: 12px;
  }
}