.article__img {
  display: block;
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 582px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .article__img {
    height: 196px;
    margin-bottom: 30px;
  }
}