.schedule__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #FFF;
  border-radius: 5px;
  transition: all .5s ease;
  border: 2px solid #394A58;
  box-sizing: border-box;
}

.schedule__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: -1px;
  width: 7px;
  height: 14px;
  border-right: 3px solid #394A58;
  border-bottom: 3px solid #394A58;
  transform: rotate(41deg);
}

@media screen and (max-width: 767px) {
  .schedule__checkmark {
    width: 18px;
    height: 18px;
  }

  .schedule__checkmark::after {
    width: 5px;
    height: 10px;
    border-right: 2px solid #394A58;
    border-bottom: 2px solid #394A58;
  }
}