.tourist__swiper-link {
  border-radius: 20px;
  width: 168px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  bottom: 25px;
}

@media screen and (max-width: 767px) {
  .tourist__swiper-link {
    width: 90%;
  }
}