.form__input {
  width: var(--input-width);
  min-height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

@media screen and (max-width: 767px) {
  .form__input {
    font-size: 14px;
    line-height: 17px;
  }
}