.tourist__swiper-pagination {
  display: block;
  width: 650px !important;
  height: 10px !important;
  top: unset !important;
  bottom: 0;
  left: 25% !important;
  border-radius: 5px;
  overflow: hidden;
}

.tourist__swiper-pagination.swiper-pagination-progressbar {
  background: #C5C5C5;
  border-radius: 5px;
}

.tourist__swiper-pagination .swiper-pagination-progressbar-fill {
  background: #EE3523;
  border-radius: 10px;
}
