.survey__wrapper {
  padding: 48px 0 40px 74px;
  width: 94%;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .survey__wrapper {
    padding: 25px 0 30px 43px;
  }
}

@media screen and (max-width: 767px) {
  .survey__wrapper {
    padding-left: 22px;
  }
}