.tariff__button {
  width: 24px;
  height: 24px;
  background: url(../../../images/icon__bottom-arrow_black.svg) no-repeat center;
  display: block;
  position: absolute;
  bottom: 30px;
  right: 20px;
  transition: all .4s ease;
  box-shadow: none;
}