.info__swiper-button {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 42%;
  display: block;
  z-index: 2;
  cursor: pointer;
  transition: all .4s ease;
}

.info__swiper-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .info__swiper-button {
    transform: scale(.7);
    width: 28px;
  }
}