.tourist__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #EE3523;
  margin: 0 0 35px;
}

@media screen and (max-width: 767px) {
  .tourist__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 11px;
  }
}