.button_black {
  background: #394A58;
  color: #fff;
  border: 2px solid transparent;
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
}

.button_black:hover {
  background: #FFFFFF;
  color: #394A58;
  border: 2px solid #394A58;
  box-shadow: none;
}