.table__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 2px;
}

@media screen and (max-width: 767px) {
  .table__txt {
    font-size: 12px;
    line-height: 15px;
  }
}