.schedule__search-btn {
  width: 243px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .schedule__search-btn {
    width: 178px;
  }
}

@media screen and (max-width: 1023px) {
  .schedule__search-btn {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .schedule__search-btn {
    height: 43px;
  }
}