.tourist__swiper-slide {
  width: 278px;
  height: 486px;
  background: #EE3523;
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 25px;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .tourist__swiper-slide {
    height: 390px;
  }
}

@media screen and (max-width: 767px) {
  .tourist__swiper-slide {
    height: 332px;
  }
}