.header__special-vision-icon {
  background: url(../../../images/icon__eye.svg) center;
  width: 33px;
  height: 33px;
  display: block;
}

@media screen and (max-width: 1023px) {
  .header__special-vision-icon {
    background: url(../../../images/icon__eye_white.svg) no-repeat center / cover;
  }
}
