.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
  pointer-events: all;
}

@media screen and (max-width: 1023px) {
  .header__upper {
    background-color: #EE3523;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 0 0 20px 20px;
    transition: all .4s ease;
    position: relative;
    z-index: 3;
  }
}