.survey {
  background: #E9E9E9;
  border-radius: 20px;
  margin-top: 35px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .survey {
    width: 100%;
  }

  .survey .title {
    text-align: left;
  }
}