.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .4s ease;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}